<?xml version="1.0"?>
<config>
    <modules>
        <Halo_Category>
            <version>0.1.0</version>
        </Halo_Category>
    </modules>
    <frontend>
        <routers>
            <category>
                <use>standard</use>
                <args>
                    <module>Halo_Category</module>
                    <frontName>category</frontName>
                </args>
            </category>
        </routers>
        <layout>
            <updates>
                <category>
                    <file>category.xml</file>
                </category>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <category>
                                            <title>Category Section</title>
                                        </category>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
    <global>
        <blocks>
            <category>
                <class>Halo_Category_Block</class>
            </category>
        </blocks>
        <helpers>
            <category>
                <class>Halo_Category_Helper</class>
            </category>
        </helpers>
    </global>
</config>